@import "common.css";
@import "reset.css";
@import "variable.css";
@import "../font/iconfont.css";
@import "animation.css";

body {
    overscroll-behavior: none;
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

