body, h1, h2, h3, h4,div,p,span, a, ol, ul, li {
    padding: 0;
    margin: 0;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

ol, ul, li {

    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

input {
    border: none;
    outline: none;
    background: none;
    /* 其他样式 */
}